$white-light: #FFFFFF;
$white: #EEEEEE;
$white-dark: #DDDDDD;
$blue: #4B9FDB;
$black-light: #303030;
$black: #202020;
$black-dark: #101010;

$font-primary: 'Abel', sans-serif;
$font-secundary: 'Josefin Sans', sans-serif;
