@import "./data";
@import "./components/nav";
@import "./components/fotos";
@import "./components/slider";
@import "./components/precios";
@import "./components/contact";
@import "./components/footer";

*{
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: $black-dark;
  font-family: $font-secundary;
  color: $white;
  overflow-x: hidden;
}

#root{
  position: relative;
}

section{
  width: calc(100% - 40px);
  height: calc(100vh - 130px);
  margin: 0 20px;
  overflow: hidden;
  overflow-y: scroll;
  animation: appear .25s ease-out;
  &:hover{
    &::-webkit-scrollbar-thumb{
      background-color: $white;
    }
  }
  &::-webkit-scrollbar{
    width: 6px;
    &-thumb{
      border-radius: 5px;
      background-color: transparent;
      transition: background-color .1s;
    }
  }
}

@keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes arrow-appear {
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
